<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189198983659-u0ipbs5p86hg4gg7u4sak4mdpie957o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189198983659-u0ipbs5p86hg4gg7u4sak4mdpie957o1</string>
	<key>API_KEY</key>
	<string>AIzaSyBgwda17BBBdnVPES1SVazO83kU3dS0Yts</string>
	<key>GCM_SENDER_ID</key>
	<string>189198983659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>min.Bunjang</string>
	<key>PROJECT_ID</key>
	<string>bunjang-ab1f7</string>
	<key>STORAGE_BUCKET</key>
	<string>bunjang-ab1f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189198983659:ios:f533744c32d2094db2f9ae</string>
</dict>
</plist>